.jumbotron {
background-color: #ffffff9a
}

body {
    background-image: url('../images/unit 4 bg.png');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
}

#win, #lose, #random-number {
    background-color: #ffffff9a;
}